In [3]:
print("hello python")

hello python

In [4]:
print(123)#int

123

In [5]:
print(12.3)#float

12.3

In [6]:
type(12)

int

In [7]:
type(12.3)

float

# Variables

In [8]:
name = 'Shahzad'
print(name)

Shahzad

In [9]:
name = 'Hamza'
print(name)

Hamza

In [10]:
name = 123
type(name)

int

In [11]:
name = True
print(name)

True

In [12]:
a1 = '123'
type(a1)

str

In [13]:
a a = '21'

SyntaxError: invalid syntax (<ipython-input-13-5e531d7b4a83>, line 1)

In [16]:
1a = 'ahsan'

SyntaxError: invalid syntax (<ipython-input-16-fe71605b4eae>, line 1)

In [17]:
a$a = '121'

SyntaxError: invalid syntax (<ipython-input-17-d2f226b6f282>, line 1)

In [19]:
a1q2 = '34'
a1q2

'34'

In [20]:
True = '54'

SyntaxError: can't assign to keyword (<ipython-input-20-e321d21ee210>, line 1)

In [21]:
true = 43
true

43

In [22]:
my_first_school_name_is = 'Happy Home'
print(my_first_school_name_is)

Happy Home

In [23]:
_ = 23
_

23

In [24]:
father-Name = ""

SyntaxError: can't assign to operator (<ipython-input-24-81fcd1e3487a>, line 1)

# Math operators

In [25]:
a = 2
b = 3
a+b

5

In [26]:
a-b

-1

In [27]:
a*b

6

In [28]:
a/b

0.6666666666666666

In [29]:
a // b

0

In [30]:
10 // 3

3

In [31]:
10 / 3

3.3333333333333335

In [32]:
c = 10
d = 3
c % d

1

In [33]:
c + 3

13

In [34]:
c

10

In [35]:
c = c+3
c

13

In [38]:
c += 5

In [39]:
c

23

In [40]:
c -= 4

In [41]:
c

19

In [42]:
c *= 2
c

38

In [43]:
c /= 2
c

19.0

In [45]:
c //=3
c

2.0

In [46]:
(3+2)*2+5/2

12.5

In [47]:
3 ** 2

9

In [48]:
(3+2) * 2 + 5**2 / 2

22.5

In [49]:
a > b

False

In [50]:
a < b

True

In [51]:
a <= b

True

In [52]:
a >= b

False

In [53]:
a != b

True

In [54]:
a == b

False

# Concatenating text strings

In [58]:
First_name = 'Hamza '
Last_name = 'Khan'
print(First_name +" "+ Last_name)

Hamza  Khan

In [59]:
len(First_name)

6

In [60]:
len(First_name +" "+ Last_name)

11

In [61]:
print('abc'+123)

TypeError: must be str, not int

In [62]:
a = 10
type(a)

int

In [65]:
a=str(a)

In [66]:
print("The number is " + a)

The number is 10

In [67]:
name = 'Ali'
age = 25
print("My name is name and my age is age")

My name is name and my age is age

In [71]:
print("My name is " + name + " and my age is " + str(age))

My name is Ali and my age is 25

# Format

In [72]:
name = 'ali'
age = 25
print('My name is {} and my age is {}.'.format(name,age))

My name is ali and my age is 25.

In [77]:
print('My name is {0} and my age is {1}.My name is {0} and my age is {1}.'.format(name,age))

My name is ali and my age is 25.My name is ali and my age is 25.

In [81]:
name = 'ahsan'
age = 21
print(f'My name is {name} and my age is {age}')

My name is ahsan and my age is 21